@import '../../../../scss/generic/generic';
.ServicesSection {
    &__content {
        &__textArea {
            &__buttonBox {
                padding: 0.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                &__button {
                    border: 5px solid $mainColor;
                    border-radius: 50%;
                    width: 300px;
                    height: 300px;
                    outline: 0;
                    background-color: transparent;
                    overflow: hidden;
                    padding: 0;
                    background-position: center;
                    background-size: cover;
                    span {
                        background-color: $mainColor;
                        display: block;
                        padding: .5rem 0;
                        opacity: 0.7;
                        transition: $mainTransition;
                        color: white;
                        font-size: 2rem;
                        font-family: Lato-LightItalic;
                        text-shadow: $textShadow;
                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    &__modal {
        p {
            font-size: 1rem;
            line-height: 1.4rem;
        }
    }
}

// `sm` applies to x-small devices (portrait phones, less than 576px)
@media screen and (min-width: 576px) {
    .ServicesSection {
        &__content {
            &__textArea {
                &__buttonBox {
                    &__button {
                        width: 254px;
                        height: 254px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .ServicesSection {
        &__content {
            &__textArea {
                &__buttonBox {
                    &__button {
                        width: 224px;
                        height: 224px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .ServicesSection {
        &__content {
            &__textArea {
                &__buttonBox {
                    &__button {
                        width: 269px;
                        height: 269px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1400px) {
    .ServicesSection {
        &__content {
            &__textArea {
                &__buttonBox {
                    &__button {
                        width: 300px;
                        height: 300px;
                    }
                }
            }
        }
    }
}