<section class="defaultSection ContactSection">
    <div class="defaultSection__content container">
        <div class="row">
            <div class="defaultSection__content__titleArea col-12 col-md-4 col-lg-3">
                <h3 class="defaultSection__content__titleArea__title">{{titleSection}}</h3>
            </div>
            <div class="defaultSection__content__textArea col-md-8 col-lg-9 ContactSection__content py-3">
                <form class="ContactSection__content__form row mb-3">
                    <div class="col-12">
                        <h4 class="text-center">Cuéntanos en qué te podemos ayudar</h4>
                    </div>
                    <div class="col-12 col-lg-4"><input class="w-100 form-control my-2" type="text" name="name" placeholder="Tu nombre:"></div>
                    <div class="col-12 col-md-6 col-lg-4"><input class="w-100 form-control my-2" type="text" name="phone" placeholder="Tu teléfono:"></div>
                    <div class="col-12 col-md-6 col-lg-4"><input class="w-100 form-control my-2" type="email" name="email" placeholder="Tu email:"></div>
                    <div class="col-12"><textarea class="w-100 form-control my-2" name="message" id="message" rows="3" placeholder="Tu mensaje"></textarea></div>
                    <div class="col-12"><button class="ContactSection__content__form__button w-100 btn ">Enviar</button></div>
                </form>
                <div class="ContactSection__content__mapsArea w-md-100">
                    <iframe class="ContactSection__content__mapsArea__iframe w-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3335.0511718332837!2d-75.56932643457532!3d6.254958767773654!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e4428fc4179b3b1%3A0x4b16809c9761eb24!2sCra.%2054%20%2354-72%2C%20Medell%C3%ADn%2C%20Antioquia!5e0!3m2!1ses-419!2sco!4v1580213923737!5m2!1ses-419!2sco"
                        allowfullscreen=""></iframe>
                    <h4 class="text-center">Sede Centro</h4>
                </div>
            </div>
        </div>
    </div>
</section>