$minHeightDefaultSection: 300px;
.defaultSection {
    padding: 0;
    margin: 3rem auto;
    border: 1px solid black;
    &__content {
        &__titleArea,
        &__textArea {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid red;
        }
        &__titleArea {
            background-color: $mainColor;
            color: white;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            &__title {
                text-align: center;
            }
        }
        &__textArea {
            padding: 1rem;
            p {
                text-align: justify;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .hideMobile {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .defaultSection {
        &__content {
            min-height: $minHeightDefaultSection;
            &__titleArea {
                min-height: $minHeightDefaultSection;
                &__title {
                    text-align: left;
                }
            }
        }
    }
    .hideDesktop {
        display: none !important;
    }
}
